# programming mess
*.swp
tags
.idea

# runtime mess
.ipynb_checkpoints/
*.pyc
build/
tests/turbo

# generated documentation
docs/build/
docs/source/_autosummary/

# application data
logs/
frames/
*.json

# coverage
.coverage
htmlcov
