# programming mess
*.swp
tags

# runtime mess
.ipynb_checkpoints/
*.pyc
build/

# generated documentation
docs/build/
docs/source/_autosummary/

# application data
logs/
frames/
*.json

# coverage
.coverage
htmlcov
