# programming mess
*.swp
tags
.idea

# runtime mess
.ipynb_checkpoints/
*.pyc
build/

# generated documentation
docs/build/
docs/source/_autosummary/

# application data
logs/
frames/
*.json
*.csv

# tests
.coverage
tests/htmlcov
tests/prof
tests/turbo
.pytest_cache
